# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#ignore demo-program output
/demo-program/*
!/demo-program/*.*
#Don't ignore Makefile, ever!
!/demo-program/Makefile

#Ignore temp file from gedit and friends.
*~
